/* BODY */

.body{
    background: url("../img/pexels-leonardo-rossatti-2612650.jpg");
    background-repeat: no-repeat;
    background-size: 500%;

}


/* CONTENEDOR */
.container{
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 85px 50px 1fr 70px ;
    grid-template-areas: "header header "
                         "nav    nav"   
                         "section section"
                         "footer footer ";
 
} 

/* HEADER */

.header{
    display: flex;
    background-color: #bbf1fa;
    color: #1687a7;
    grid-area: header;
    justify-content: center;
    
}

.header__text{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
}

.header__img{
    width: 80px;
    height:80px;
    padding: 5px;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

.nav__link {
    display: block;
    width: 125px;
    text-align: center;
    
    text-decoration: none;
    border: 1px solid #bbf1fa;
    padding: 0.25em;
    border-radius: 0.2em;
    margin: 0.2em;
    color: #1687a7;
    background-color:  #bbf1fa;
    font-family: 'Roboto', sans-serif;
    transition: transform 1s ease;
}


.nav__link:hover {
    text-align: center;
    background-color: #1687a7;
    color:  #bbf1fa;
    transform: scale(1.5);
    
}

.nav {
    grid-area: nav;
    
}

/* FOOTER */
.footer {
    background-color: #333;
    grid-area: footer;
   
}

.footer__rs{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
   
}

.footer__img:hover{
    animation-name: img;
    animation-duration: 2s;
    
}
 
@keyframes img{
    from{
       opacity:0;

    }

    to{
        opacity:1;
        transform: rotate(360deg);
    }
} 







