.body{
    background: url("../img/pexels-leonardo-rossatti-2612650.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.container{

    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr) ;
     grid-template-rows: 85px 50px 1fr 70px ;

    grid-template-areas: "header header "
                         "nav    nav"   
                         "section section"
                         "footer footer ";
 
} 

.header{
    
    display: flex;
    background-color: #E2F4F6;
    color: #009AC2;
    grid-area: header;
    
}

.header__text{
    margin-left: 750px;
    font-family: 'Bebas Neue', cursive;
    
    font-size:xx-large;
}
.header__img{
    width: 80px;
    height:80px;
    padding: 5px;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

.nav__link {
    display: block;
    width: 125px;
    text-align: center;
    color: #60C3DB;
    text-decoration: none;
    border: 1px solid #60C3DB;
    padding: 0.25em;
    border-radius: 0.2em;
    margin: 0.2em;
    color: #009AC2;
    background-color: #E2F4F6;
    font-family: 'Roboto', sans-serif;
}


.nav__link:hover {
    text-align: center;
    background-color: #009AC2;
    color: #E2F4F6;
    
}

.nav {
    grid-area: nav;
}
.section{
   grid-area: section; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle{
    color: #009AC2;
    background-color: #e2f4f6bd;
    border: 1px solid #009AC2;
    border-radius: 5px;
    width: 35%;
    height: 25%;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.middle__button{
    background-color: #009AC2;
    color:white;
    border: 1px solid #009AC2;
    border-radius: 5px;
    padding: 5px;
}

.middle__button:hover{
    background-color: white;
    color:#009AC2;
}
.article1,.article2{
    border: 1px solid #009AC2;
    border-radius: 5px;
    background-color: white;
    color: #009AC2;
   
}

.article1{
    grid-area: article1;
    border: 1px solid #009AC2;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    
    font-family: 'Roboto', sans-serif;

}


.search{
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #009AC2;
    border-radius: 5px;
    background-color:#009AC2; 
    color: white;
    margin-bottom: 10px;
}

.search:hover{
    background-color:white;
    color: #009AC2; 
}

.article2{
    grid-area:article2; 
    
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.data__container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border: 1px solid #009AC2;
    border-radius: 5px;
    background-color:#009AC2; 
    color: white;
    
}

.data__holiday{
    font-weight: bolder;
}
.footer {
    background-color: #333;
    grid-area: footer;
   
}

.footer__rs{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}