/* BODY */

.body{
    background: url("../img/pexels-leonardo-rossatti-2612650.jpg");
    background-repeat: no-repeat;
    background-size: 500%;

}

/* CONTENEDOR */
.container{
    height: 100vh;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 85px 50px 1fr 70px ;
    grid-template-areas: "header header "
                         "nav    nav"   
                         "section section"
                         "footer footer ";
 
} 

/* HEADER */

.header{
    display: flex;
    background-color: #bbf1fa;
    color: #1687a7;
    grid-area: header;
    justify-content: center;
    
}

.header__text{
    font-family: 'Bebas Neue', cursive;
    font-size:xx-large;
}

.header__img{
    width: 80px;
    height:80px;
    padding: 5px;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

.nav__link {
    display: block;
    width: 125px;
    text-align: center;
    
    text-decoration: none;
    border: 1px solid #bbf1fa;
    padding: 0.25em;
    border-radius: 0.2em;
    margin: 0.2em;
    color: #1687a7;
    background-color:  #bbf1fa;
    font-family: 'Roboto', sans-serif;
}


.nav__link:hover {
    text-align: center;
    background-color: #1687a7;
    color:  #bbf1fa;
    
}

.nav {
    grid-area: nav;
}

/* SECTION */
.section{
   grid-area: section; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.middle{
    color: #1687a7;
    background-color:  #bbf1fa;
    border: 1px solid #1687a7;
    border-radius: 5px;
    width: 35%;
    
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.middle__button{
    background-color: #1687a7;
    color: #bbf1fa;
    border: 1px solid #1687a7;
    border-radius: 5px;
    padding: 5px;
}

.middle__button:hover{
    border: 1px solid #1687a7;
    background-color:  #bbf1fa;
    color:#1687a7;
}

.hidden{
    display:none;
}
.article1,.article2{
    border: 1px solid #1687a7;
    border-radius: 5px;
    background-color:  #bbf1fa;
    color: #1687a7;
   
}

.article1{
    border: 1px solid #1687a7;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

}

.search{
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #1687a7;
    border-radius: 5px;
    background-color:#1687a7; 
    color: #bbf1fa;
    margin-bottom: 10px;
}

.search:hover{
    border: 1px solid #1687a7;
    background-color: #bbf1fa;
    color: #1687a7; 
}

.article2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: #1687a7;
    font-weight: bold;
}


.grid__item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 300px;
}

.grid__img{
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    
}

.grid__container{
    max-width: 300px;
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    padding: 10px;

}





.data__container{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border: 1px solid #1687a7;
    border-radius: 5px;
    background-color:#1687a7; 
    color:  #bbf1fa;
    
}

.data__holiday{
    font-weight: bolder;
}

/* FOOTER */
.footer {
    background-color: #333;
    grid-area: footer;
   
}

.footer__rs{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

/* MEDIA QUERYS */
@media screen and (min-width: 1024px){
    .grid__container{
        max-width: 700px;
    }
    .body{
        background-size: 300%;
    }

    .section__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hidden{
        margin-top: 20px;
        display:flex;
        border: 1px solid #1687a7;
        background-color:#bbf1fa;
        color:  #1687a7; 
        width: 80%;
        border-radius: 5px;
    }

    .hidden__text{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
    }

    .hidden__img{
        width: 450px;
        height: 267px;
        
        border-radius: 5px 0px 0px 5px;
    }
}
@media screen and (min-width: 1200px){
    .grid__container{
        max-width: 950px;
    }

    .body{
        background-size: 200%;
    }


    .section__container{
        display: flex;
        justify-content: space-evenly;
    }

    .middle{
        align-self: center;
    }

}